body {
  background-color: #ccdde4 !important;
  -webkit-print-color-adjust: exact !important;
}
.x-wrapper {
  background-color: white;
}
* {
  font-family: "Amiri", serif;
  font-size: 19px;
}
.the-absolute-pane {
  bottom: 0px;
  width: 100%;
  height: 160px;
  background-color: rgba(225, 225, 225, 0.8);
  position: absolute;
  z-index: 1;
  color: black;
  text-align: right;
}
.the-absolute-pane b {
  font-size: 16px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.name-khuong {
  font-size: 43px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  padding-right: 30px !important;
}
.job-title {
  font-size: 31px;
  font-family: "Abel", sans-serif;
  padding-right: 30px !important;
}

.section-head {
  font-size: 25px;
}
.avatarrr {
  height: 200px;
  width: 250px;
  position: relative;
}
.avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.styled-header-pan {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: solid #343a40 8px;
  font-size: 25px;
  background-color: rgba(35, 35, 35, 0.1);
}
.paragraph-k {
  margin-bottom: 1px;
  padding-bottom: 1px;
}
